<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=url("admin/services/ddnsto_status")%>', null,
		function(x, st)
		{
			var tb = document.getElementById('ddnsto_status');
			if (st && tb)
			{
				if (st.running)
				{
					tb.innerHTML = '<br/><em style=\"font-size:19px;color:green\"><%:The DDNS.to service is running.%></em>';
				}
				else
				{
					tb.innerHTML = '<br/><em style=\"font-size:19px;color:red\"><%:The DDNS.to service is not running.%></em>';
				}
			}
		}
	);
//]]></script>

<fieldset class="cbi-section"> 
  <legend><%:DDNS.to Status%></legend>
     <p id="ddnsto_status" style="padding-top:0;margin-top:0;line-height:1.5;"> 
                               <em><%:Collecting data...%></em>
 </p > 
 </fieldset> 
